<main>
  <div class="nosotros">
    <h1>Historia</h1>
    <img src="" alt="" />
    <p>
      El Instituto Psicopedagógico Juana Leclerc, es una Institución privada sin fines de lucro, fundada en el año 1973, rectorada por una Asociación de padres de familia y personal cuya asamblea esta representada por una Junta Directiva.
    </p>
  </div>

  <div class="mision">
    <h1>Mision</h1>
    <img src="" alt="" />
    <p>
      El Instituto Juana Leclerc es una institución sin fines de lucro, dedicada a la educación integral de las personas con discapacidad, promoviendo oportunidades para su inclusión en el marco de los Derechos Humanos. Fue creada con el propósito de brindar servicios educativos a niños, niñas y jóvenes en situación de discapacidad en el área de retardo mental y problemas de aprendizaje.
    </p>
  </div>

  <div class="organizacion">
    <h1>Organizacion</h1>
    <img src="" alt="" />
    <p>
      Los programas del Instituto J. Leclerc se dividen en 3 partes :

- Programa presencial de educación especial, los cuales funcionan en las instalaciones del instituto y son: Kinder, Preparatoria, Escolar, Prevocacional, Talleres de Capacitación/producción
-Programas comunitarios : Con proyección en 13 departamentos del país y trabajo directo en 23 municipios de los mismos estos programas son: Programa de RBC “Rehabilitación con base en la Comunidad”, Programa de Capacitación/Formación (Diplomados, cursos, seminarios, pasantias, etc), Programa de Rehabilitación Profesional “Mi Escuela es la Comunidad (Inserción Vocacional y Laboral)”,  Programa de Integración Educativa “Convivencia”
-Servicios de Apoyo : Terapia de lenguaje, multisensorial, recreativa y artística, Apoyo y terapia psicológica, Apoyo social, Apoyo salud (Revisión medica, merienda, primeros auxilios, etc), Apoyo pedagógico, Escuela para Padres y grupos terapéuticos
Hemos avanzado en la conceptualizacion y el abordaje de la discapacidad a través de nuevas metodologías y estrategias de atención, basando nuestro enfoque en un marco de derechos humanos, propiciando la participación social de la comunidad y su sensibilización y capacitación para facilitar los procesos en inclusión en todas las esferas de la vida comunitaria.

    </p>
  </div>

  <div class="vision">
    <h1>Vision</h1>
    <img src="" alt="" />
    <p>
      Al 2017 ser referente idóneo en la gestión del conocimiento, atención, promoción y formación en el campo de la discapacidad, para favorecer la plena inclusión de las personas con discapacidad.
    </p>
  </div>

  <div class="personal">
     <h2>Nuestro equipo</h2>
    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Javier Mayorga</h2>
    </div>

    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Fernando Reyes</h2>
    </div>
    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Yamel Briceño</h2>
    </div>
    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Stanlin Chacon</h2>
    </div>
    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Cilas</h2>
    </div>
    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Alambrito</h2>
    </div>
    <div class="col-lg-4">
      <img class="circle" height="140" width="140" background-color:"white" border-radius:"100%">
        <h2>Jere</h2>
    </div>

    </div>

  </div>
</main>
