<div class="banner-rpt container-fluid">
  <div class="row">
    <div class="container">
      <section class="col-md-12">
        <h2 class="text-left text-uppercase">Nuestra Estrategia</h2>
      </section>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5">
              <h2>Objetivos Estratégicos </h2>
        </div>
        <div class="col-md-7">
          <p class="text-muted">
            La institución ha desarrollado alianzas estratégicas y convenios de trabajo nacionales e internacionales, igualmente mantiene efectiva coordinación interinstitucional, pilar fundamental en el desarrollo de su labor. En el transcurso de los años se ha convertido en una institución líder en el campo de la atención a la discapacidad tanto a nivel nacional como internacional.
          </p>
        </div>
      </div>
      <div class="divider col-md-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="infoEstrategias">
          <span  class="glyphicon glyphicon-education iconos"></span>
          <!-- Fuentes de Conocimiento-->
            <h2 class="caja-importante ">Fuente de Conocimiento</h2>
        </div>
      </div>
      <div class="col-md-7">
        <p class="text-muted">
          Generar e implementar ofertas educativas para diferentes actores y/o sectores a través de diversas estrategias formativas como parte de una política de gestión que  aporte conocimiento a la sociedad hondureña para la atención y la inclusión de las personas con discapacidad, sus familias y comunidad.
        </p>
        <p class="text-muted">
          Fomentar acciones de coordinación interinstitucional, sensibilización e incidencia a fin de promover la participación de la sociedad civil y el gobierno en el desarrollo de planes, programas y proyectos en beneficio de las personas con discapacidad.
        </p>
      </div>
      <div class="divider col-md-12"></div>
    </div>
    <!-- Sostenibilidad Institucional-->
    <div class="row">
      <div class="col-md-7">
        <p class="text-muted">
          Lograr y mantener una institución sostenible a través de la organización, venta de servicios, la  gestión basada en alianzas, colaboraciones y redes de carácter técnico y financieros locales, nacionales e internacionales.
        </p>
      </div>
      <div class="col-md-5">
        <div class="infoEstrategias">
          <span  class="glyphicon glyphicon-home iconos"></span>
            <h2 class="caja-importante">Sostenibilidad Institucional</h2>
        </div>
      </div>
        <div class="divider col-md-12"></div>
    </div>
    <!--Cultura de Eficiencia -->
    <div class="row">
      <div class="col-md-5">
        <div class="infoEstrategias">
          <span  class="glyphicon glyphicon-heart iconos"></span>
            <h2 class="caja-importante ">Cultura de Eficiencia</h2>
        </div>
      </div>
      <div class="col-md-7">
        <div class="infoEstrategias">
          <p class="text-muted">
            Asegurar la formación de las PCD y sus familias a través del real compromiso de los y las profesionales del instituto como proveedores de servicios.</p>
        </div>
      </div>
        <div class="divider col-md-12"></div>
    </div>
    <!--Gente, Potencialidades Humanas -->
    <div class="row">
      <div class="col-md-7">
        <div class="infoEstrategias">
          <p class="text-muted">
            Favorecer el desarrollo de las potencialidades humanas del personal de la institución a través de buenas prácticas, vivencias de valores, capacitación y desarrollo de carrera que aseguré las competencias de los equipos de trabajo de los diferentes programas y áreas.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="infoEstrategias">
          <span  class="glyphicon glyphicon-user iconos"></span>
            <h2 class="caja-importante">Gente, Potencialidades Humanas</h2>
        </div>
      </div>
        <div class="divider col-md-12"></div>
    </div>
    <!--Credibilidada e Imagen -->
    <div class="row">
      <div class="col-md-5">
        <div class="infoEstrategias">
          <span  class="glyphicon glyphicon-thumbs-up iconos"></span>
            <h2 class="caja-importante">Credibilidad e Imagen</h2>
        </div>
      </div>
      <div class="col-md-7">
        <div class="infoEstrategias">
          <p class="text-muted">
            Promover y sostener la calidad de servicios brindados a las personas con discapacidad, sus familias  y comunidad manteniendo presencia, imagen y liderazgo en las zonas de influencia a través  de estructuras y procesos participativos.
          </p>
        </div>
      </div>
    </div>
</div>
