<!-- Banner-->
<div class="container-fluid banner-content">
  <section class="banner col-md-12">

  </section>
</div>
<!-- Inicia Menu-->
<main class="main container">
<div class="row">
  <h1 class="text-muted text-center">Nuestra Estrategia</h1>
  <div class="infoEstrategias col-md-4 ">
    <span  class="glyphicon glyphicon-education iconos"></span>
      <h2 class="caja-importante ">Heading</h2>
    <p class="caja-importante">
    lor in reprehe fugiat nulla pariatur. Excepteur sint ocserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="infoEstrategias col-md-4 ">
    <span  class="glyphicon glyphicon-heart-empty iconos"></span>
      <h2 class="caja-importante">Heading</h2>
    <p class="caja-importante">
    lor in reprehe fugiat nulla pariatur. Excepteur sint ocserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="infoEstrategias col-md-4 ">
    <span  class="glyphicon glyphicon-globe iconos"></span>
      <h2 class="caja-importante ">Heading</h2>
    <p class="caja-importante">
    lor in reprehe fugiat nulla pariatur. Excepteur sint ocserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="row">
    <div class="btn-Dn col-md-12 text-center">
      <button class="btn btn-primary btn-lg text-center"type="button" name="button">Leer mas</button>
    </div>
  </div>
</div>
  <div class="row cajaAtencion">
    <header class="jumbotron-jm col-md-12">
      <h2 class="bold">Por que no donamos?</h2>
    </header>
    <div class="row">
      <p class="small text-center col-md-12">
        t in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Algo que llame l atencion <span class="text-muted">que te diga que onda.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img data-holder-rendered="true" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1NTQzMWExN2I5IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTU1NDMxYTE3YjkiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTgzLjUiIHk9IjI2MS43Ij41MDB4NTAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>
  <div class="divider col-md-12">

  </div>
  <div class="row">
    <div class="donacion col-md-12">
      <h1 class="lead center-block">Ayudamos a contribuir <button class="btn btn-default btn-lg" type="button" name="button">Donar</button> </h1>
    </div>
  </div>
  <!-- Eventos-->
    <div class="row eventos">
      <section class="posts col-md-7 ">
        <h2 class="text-uppercase"> <span class="glyphicon glyphicon-bullhorn"> </span>  Eventos o Campanas</h2>
        <article class="post clearfix">
          <a class="thumb pull-left">
            <img class="img-thumbnail" src="../images/html5.png" alt="html" />
          </a>
          <h2 class="post-title">
          <a href="#">Este es un evento men</a>
          </h2>
          <p>
              <span class="post-fecha">26 de Enero de 2015</span>
          </p>
          <p class="post-contenido text-justify text-muted">
             minim veniam, quis nostrud nsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia d

          </p>
        </article>

        <article class="post clearfix">
          <a class="thumb pull-left">
            <img class="img-thumbnail" src="../images/html5.png" alt="html" />
          </a>
          <h2 class="post-title">
          <a href="#">Este es un evento men</a>
          </h2>
          <p>
              <span class="post-fecha">26 de Enero de 2015</span>
          </p>
          <p class="post-contenido text-justify text-muted">
             minim veniam, quis nostrud exercitationiquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
          </p>
        </article>

        <article class="post clearfix">
          <a class="thumb pull-left">
            <img class="img-thumbnail" src="../images/html5.png" alt="html" />
          </a>
          <h2 class="post-title text-capitalized">
          <a href="#">Este es un evento men</a>
          </h2>
          <p>
              <span class="post-fecha">26 de Enero de 2015</span>
          </p>
          <p class="post-contenido text-justify text-muted">
         minim veniam, quis nostrudo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,

          </p>
        </article>
        <nav>
            <div class="center-block">
              <ul class="pagination">
                <li class="disabled"><a href="#">&laquo; <span class="sr-only">Anterior</span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li class=""><a href="#">2</a></li>
                <li class=""><a href="#">3</a></li>
                <li class=""><a href="#">&raquo; <span class="sr-only">Siguiente</span></a></li>
              </ul>
            </div>
        </nav>
      </section>
      <!-- historias de ninos o radio -->
      <section class="col-md-5 hidden-xs hidden-sm">
        <aside>
          <h3 class="story-title text-uppercase"> <span class="glyphicon glyphicon-gift"></span>  Historias de ninos</h3>
        <div class="ninos">
          <div class="imagenNinos">
            <img src="../images/40L6IXC2U1.jpg" alt="" />
          </div>
        </div>
        <h2 class="story-title">Los ninos </h2><span class="story-cont small"> algo para llamar</span>
        <p class="story-cont text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        </aside>

      </section>
    </div>
</main>
<!-- Footer-->
<footer>
<div class=" container">
  <div class="footer row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <ul class="footerLink">
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 1</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <ul class="footerLink">
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 1</a></li>
        <li><a href="#">link 1</a></li>
      </ul>
    </div>
    <div class="footerLink rdSociales col-md-4">
      <h2>Redes sociales</h2>
      <ul>
        <li><a href="#"><i class="icon-brand fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="icon-brand fa fa-google-plus"></i></a></li>

      </ul>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
