<!DOCTYPE html>
<html>
  <head>
    <title>Instituto Juana Lecrerc</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="css/estilo.css" media="screen" title="no title" charset="utf-8">
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed"type="button" name="button" data-toggle="collapse" data-target="#navegacion-fm">
            <span class="sr-only"> Desplegar / Ocultar Menu </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Juana Leclerc</a>
        </div>
        <div class="collapse navbar-collapse" id="navegacion-fm">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"> <a href="/">Inicio</a></li>
            <li><a href="#">Donar</a></li>
            <li><a href="/somos">Somos</a></li>
            <li><a href="/contact">Contactenos</a></li>
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                Mas
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Programas</a></li>
                <li><a href="/historiasDeExito">Historia de Exito </a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">categoria #1</a></li>
                <li class="divider"></li>
                <li><a href="#">Radio</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      </nav>
    </header>
     <main>
         {{{body}}}
     </main>
     <footer>
       <div class="container">
         <div class="footer row">
           <div class="col-md-3">
             <h2>Direccion</h2>
             <address class="">
               lugar y su direccion <br>
               Tegucigalpa Honduras <br>
               (2779-0287
             </address>
           </div>
           <div class="col-md-3">
             <h2>Heading</h2>
             <ul class="footerLink">
               <li><a href="#">informacion</a></li>
               <li><a href="#">quienes somos</a></li>
               <li><a href="#">radio</a></li>
               <li><a href="#">otra</a></li>
             </ul>
           </div>
           <div class="col-md-3">
             <h2>Heading</h2>
             <ul class="footerLink">
               <li><a href="#">link 1</a></li>
               <li><a href="#">link 1</a></li>
               <li><a href="#">link 1</a></li>
               <li><a href="#">link 1</a></li>
             </ul>
           </div>
           <div class="footerLink rdSociales col-md-3">
             <h2>Redes sociales</h2>
             <ul>
               <li><a href="#"><i class="icon-brand fa fa-facebook-official"></i></a></li>
               <li><a href="#"><i class="icon-brand fa fa-google-plus"></i></a></li>

             </ul>
           </div>
         </div>
       </div>

     </footer>
     <div class="row">
       <div class="container-fluid">
         <div class="derechos">
           Copyright (c)  Copyright Holder All Rights Reserved.
           JM Designs
         </div>
       </div>
     </div>
     <script src="http://code.jquery.com/jquery-latest.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
