<div class="banner-rpt container-fluid">
  <div class="row">
    <div class="container">
      <section class="col-md-12">
        <h2 class="text-left text-uppercase">Acerca del Instituto Juana leclerc</h2>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <aside class="col-md-5">
      <h2>Quienes Somos </h2>
      <p>
        El Instituto Psicopedagógico Juana Leclerc, es una Institución privada sin fines de lucro, fundada en el año 1973, con personería Jurídica Nº 112/19/10/78, dedicada a la educación integral de las personas con discapacidad, a través de la  promoción de oportunidades para su inclusión en el marco de los derechos humanos.
      </p>
      <p>
        Su política de admisión y de atención integral es de puertas abiertas a todo niño, niña y joven que se encuentren en situación de discapacidad, sin distinción de edad, credo, sexo o estrato social.
      </p>
      <p>
        Durante sus 42 años de trayectoria, el Instituto Juana Leclerc ha evolucionado de acuerdo a las nuevas tendencias y estrategias de atención del campo de la rehabilitación y educación especial; así mismo, se ha preocupado por la capacitación de su personal, padres de familia y voluntarios dentro y fuera del país; lo cual le ha permitido mantenerse a la vanguardia de las nuevas tendencias en el campo de la discapacidad y  temáticas afines, ejerciendo un reconocido liderazgo en el área de la rehabilitación, integración e inclusión de la persona con discapacidad que ha favorecido su reconocimiento nacional e  internacional, como una institución confiable que ofrece servicios de calidad.
      </p>
      <h2>Misión</h2>
      <p>
        Somos una institución sin fines de lucro dedicada a la educación integral de las personas con discapacidad, promoviendo oportunidades para su inclusión en el marco de los Derechos Humanos.
      </p>
      <h2>Visión</h2>
      <p>
        Al 2017, ser referente idóneo en la gestión del conocimiento, atención, promoción, formación en el campo de la discapacidad para favorecer la plena inclusión de las PCD.
      </p>
      <h2>Filosofía</h2>
      <p>
        Se sustenta en el principio que todo ser humano tiene igual derecho y oportunidad para promover su propio desarrollo dentro de la sociedad, y de que toda niña y niño pueda aprendeer, crecer y madurar siempre que se le brinde la oportunidad.
      </p>
    </aside>
    <section>
      <div class="col-md-7">
        <h1>Nuestro Personal</h1> <span class="text-info">aqui pues deberia ir algo</span>
        <div class="imagen-Somos">
          <img src="images/somos.jpg" alt="Foto del personal" />
        </div>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
        <h2>Valores</h2>
        <p class="text-muted">
          Calidad de Servicio, Corresponsabilidad, Solidaridad, Compromiso
        </p>
      </div>
    </section>
  </div>
</div>
